* {
    background: #C7C7C7;
    margin: 0px;
    font-family: Arial, sans-serif;
  }

  h1{
      text-align: center;
  }

  .nav-bar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 210px;
    
    display: inline;
    
  }

  .nav {
    margin: 0px;
    padding: 10px;
    list-style: none;
    font-family: 'Open Sans Condensed', sans-serif;
    
  }
  .nav li {
    display: inline;
    margin: 30px;
    margin-top: 80px;
       
  }

  ul{
      display: flex;
      text-align: center;
  }
  
  .nav a {
    text-decoration: none;
    font-size: 20px; 
  }

  .nav a:link {
    color: black;
  }

  .nav a:visited {
    color: black;
  }

  .nav a:focus {
    color: black;
    background-color: white;
  }

  .nav a:hover {
    color: black;
    background-color: #e9e9bd;
    padding: 3px;
    font-weight: bold;
  }

  .nav a:active {
    color: white;
    background-color: #f4ebe9;
  }