body {
    background-color: rgb(205, 182, 182);
}

.header {
    background-color: red;
    padding: 10px;
}

h1 {
    text-align: center;
}
/************* NAV *************/
.nav li {
    display: inline;
    margin: 30px;
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
       
}

.nav {
    text-align: center;
}

.nav-bar {
    padding: 5px;
}

/************* SECTION 1 *************/
.container1 {
    display: flex;
}
.appInfo1 {
    flex: 1;
    padding: 10px;
    padding-top: 150px;
    margin-top: 15px;
}  
.appPhoto1 {
    flex: 1;
    border: 2px solid rgb(126, 126, 123);
    padding: 30px;
    margin-top: 15px;

} 
.appInfo1:first-child {
    margin-right: 20px;
} 
p {
    font-size: 20px;
    text-align: center;
}

/************* SECTION 2 *************/
.appPhoto2 {
    flex: 1;
    border: 2px solid rgb(126, 126, 123);
    padding: 30px;
    margin-top: 20px;
    margin-right: 100px;
} 
.container2
{
    display: flex;
}
.appInfo2 {
    flex: 1;
    padding: 10px;
    padding-top: 150px;
    margin-top: 15px;
    

} 
.appInfo2:first-child {
    display: flex;
    margin-right: 20px;
} 

/************* SECTION 3 *************/

.container3 {
    display: flex;
}

.appInfo3 {
    flex: 1;
    display: inline-flex;
    padding: 10px;
    padding-top: 150px;
    margin-top: 15px;
}  

.appPhoto3 {
    flex: 1;
    border: 2px solid rgb(126, 126, 123);
    padding: 30px;
    margin-top: 15px;

} 
.appInfo3:first-child {
    margin-right: 20px;
} 

/************* DEMO *************/
h2 {
    font-size: 30px;
    text-align: center;
}






