.header {
    background-color: red;
    padding: 20px;
}

h1 {
    text-align: center;
}

.nav li {
    display: inline;
    margin: 30px;
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
       
}

.nav {
    text-align: center;
}

.nav-bar {
    background-color: darkgray;
    padding: 10px;
}

